
.searchButton {
    background-color: #f8b10e;
    width: 200px;
    height: 56px;
    padding: 16px;
    border-radius: 8px;
    border: none;
    color: #21325f;
    font-weight: bolder;
    font-size: 20px;
    border: solid 2px #f8b10e;
}
.searchButton:hover {
    background-color: #21325f;
    color: #f8b10e;
}
@media (max-width: 800px) {
    .form {
        display: grid;
        justify-items: center;
        margin-left: auto;
    }
}