.bodyPart_card {
    background-color: '#fff';
    border-bottom-left-radius: '20px';
    width: '270px';
    height: '280px';
    cursor: 'pointer';
    gap: '47px';
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  .bodyPart_card:hover {
    transform: scale(1.1, 1.1);
  }
  .icon {
    width: 40px;
    height: 40px;
  }