.name {
    color: #f8b10e;
    text-transform: capitalize;
}
.exercise-video {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 387px;
    height: 381px;
    text-decoration: none;
  }
  .exercise-video img {
    border-radius: 12px;
  }
  @media screen and (max-width:400px) {
    .exercise-video {
      width: 283px;
    }
  }